@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');

.App {
  text-align: center;
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  background: url("https://www.foodphotographyandstyling.se/wp-content/uploads/2016/02/eat-clean%C2%A9Bianca_Brandon-Cox.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Bellota', cursive;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.contentBodyContainer{
  float: right;
  width: 70%;
  margin: auto;
  min-height: 80vh;
  background-color: white;
  padding: 30px;
  text-align: justify;
  opacity: .5;
  color: black;
}

.contentBodyContainer:hover{
  opacity: 1;
  background-color: bisque;
  color: chocolate;
}

/* NAVBAR */

.navBar{
  width: 20%;
  padding: 10px;
  min-height: 80vh;
  background-color: bisque;
  color: chocolate;
  box-shadow: 10px 10px chocolate;
  float: left;
}

.navLinkContainer{
  margin: 2px auto;
  padding: 20px 0;
  width: 100%;
  background-color: chocolate;
}

.navLink{
  color: bisque;
  text-decoration: none;

}

.socialMediaContainer{
  width: 70%;
  margin: 20px auto;
}

.socMed{
  float: left;
  width: 15%;
  margin: 0 10px;
  padding: 5px;
}

/* MENU */

.menuCategoryDisplay{
  border: 1px solid seashell;
  border-radius: 10px;
  width: 38%;
  float: left;
  margin: 5px;
  padding: 50px;
  text-align: center;
}

.menuCategoryDisplay:hover{
  border: 1px solid chocolate;
  box-shadow: 3px 3px chocolate;

}